.header{
    background-color: #a9a9a9;
}
.hg-20{
height: 30px;
}
.hg-30{
height: 30px;
}
.header-info{
    background-color: #222;
}
.header-nav{
    background-color: #111;
}
.index1{
    background-color:#fff;
}
.index-bottom{
    background-color: #222;
}
.index{
height: 60px;
}
.servics{
    background-color: aliceblue;
}
.index2{
    background-color: #fff;
}
@media (min-width: 758px){
    .container{
        max-width: 770px;
    }
}